<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Var olan global veya hatalı kaynakları temizliyoruz -->
    <clear />
    <!-- Sadece resmi nuget.org kaynağını ekliyoruz -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
